body header, section#featured-property{
  width: "800px";
  height: 100%;
  margin: 0;
  text-align: center;
  
}

nav a {
  padding: 10px;
  background-color: lavender;
}


section#details div {
  background-color: red;
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}
